:root{
    --bg-color: #011629;
    --bg-color-containers: #011a31;
    --font-color: #0084ff;
}
*{
    padding: 0;
    margin: 0;
}
body{
    box-sizing: border-box;
    color: #fff;
    background-color: var(--bg-color);
}
body::-webkit-scrollbar{
    display: none;
}
a{
    text-decoration: none;
    color: #fff;
}
.navbar{
    width: 100%;
    min-height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .5em;
    background-color: var(--bg-color);
    position: fixed;
    z-index: 100;
}
.logo{
    font-size: 2em;
    margin-left: 1.3em;
}
.openMenu, .closeMenu, .icons{
    margin: 6px;
    font-size: 2em;
    display: none;
}
.mainMenu{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.mainMenu a{
    font-size: 1.4em;
}
.mainMenu a:hover{
    transition: 200ms;
    color: var(--font-color);
    border-bottom: 1px solid var(--font-color);
    padding-bottom: 5px;
}

.icons img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.icons img:hover{
    transition: 200ms;
    background-color: var(--font-color);
}
.hero{
    position: absolute;
    top: 4em;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* border: 1px solid gray; */
}
.hero h1,h2{
    color: var(--font-color);
}
.all-sec{
    width: 90%;
    min-height: 50vh;
    /* border: 1px solid black; */
    margin-top: 20px;
    background-color: var(--bg-color-containers);
}
.head-sec{
    display: flex;
    border-radius: 15px;
    margin-top: 1.2em;
}
.data{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2em;
    color: var(--font-color);
}
.links{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-content: space-between;
    justify-content:space-evenly;
}
.links a img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid #0084ff;
}
.links a img:hover{
    transition: 1s;
    background-color: #0084ff;
    transform: scale(1.2, 1.2);
}
.btns{
    padding: 5px 1.2em;
    color: var(--font-color);
    background-color: var(--bg-color);
    font-size: 20px;
    border: 1px solid gray;
    border-radius: 8px;
    box-shadow: var(--font-color) 0px 50px 100px -20px, var(--font-color) 0px 30px 60px -30px, var(--font-color) 0px -2px 6px 0px inset;
}
.btns:hover{
    transition: 1s;
    letter-spacing: 2px;
    transform: scale(1.5, 1.2);
    box-shadow: none;
}
.image{
    width: 50%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.image img{
    width: 15em;
    height: 15em;
    border-radius: 50%;
    background-color: wheat;
    animation: bounce;
    animation-duration: 3s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}
@keyframes bounce{
    100%{
        translate: 0 80px;
    }
}
.about{
    display: flex;
    padding: 1.1em;
}
.abt-image{
    width: 40%;
    margin: auto;
}
.abt-image img{
    width: 100%;
    height: 80%;
}
.abt-image img:hover{
    transition: 1s;
    transform: scale(1.2, 1.2);
}
.content{
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    padding: 1.1em 1.5em;
    margin: 0 1.2em;
}
.skills{
    display: flex;
    padding: 1.2em;
}
.skill-sec1{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.skill-sec1 input[type="range"]{
    width: 80%;
}
.skill-sec2{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.skill-sec2 input[type="range"]{
    width: 80%;
}
.projects{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}
.project{
    width: 30%;
    margin: auto;
    padding: 1.2em;
    border: 1px solid var(--font-color);
    border-radius: 8px;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.project:hover{
    transition: 1s;
    background-color: #57a7f1;
    color: var(--bg-color);
}
.project h4{
    color:var(--font-color)
}
.project p{
    margin-top: 1.1em;
    align-content: center;
}
.pro-head{
    justify-items: center;
    align-self: center;
}
.pro-links a{
    border: 1px solid #0084ff;
    padding: 2px 1.1em;
    color: white;
    background-color: #0084ff;
    margin: 5px;
}
.form{
    padding: 2em;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items:flex-start;
}
.form label{
    display: flex;
    flex-direction: column;
    margin-top: 2em;
    margin-bottom: 1.1em;
}
.form input, textarea{
    width: 90%;
    padding: 5px;
    border-radius: 8px;
}
.form input, textarea:focus{
    border: 1px solid var(--font-color);
}
.form input[type="submit"]{
    width: 10em;
    margin-top: 2em;
    align-self: center;
    background-color: var(--bg-color);
    color: var(--font-color);
    box-shadow: var(--font-color) 0px 50px 100px -20px, var(--font-color) 0px 30px 60px -30px, var(--font-color) 0px -2px 6px 0px inset;
}
.form input[type="submit"]:hover{
    transition: 1s;
    box-shadow: none;
}

/* 
Media Query
-------------------------------------------------------------------------------------
*/

@media all and (width <= 800px){
    .mainMenu{
        height: 100vh;
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 10;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: var(--bg-color);
        color: #fff;
        transition: top 1s ease;
        display: none;
    }
    .openMenu{
        display: block;
        margin-right: 1.2em;
    }
    .mainMenu .closeMenu{
        display: block;
        position: absolute;
        top: 20px;
        right: 20px;
    }
    .mainMenu a{
        margin-top: 1.1em;
    }
    .mainMenu .openMenu{
        display: block;
    }
    .icons{
        display: inline-block;
        padding: 12px;
        margin-top: 1.1em;
    }
    .logo{
        font-size: 1.5em;
    }
    .head-sec{
        flex-direction: column;
        height: 100vh;
    }
    .data{
        margin-top: 1.5em;
        width: 100%;
    }
    .image{
        width: 100%;
        margin-top: 2em;
    }
    .about{
        flex-direction: column;
    }
    .abt-image{
        width: 100%;
    }
    .content{
        width: 100%;
        padding: 0 1.1em;
    }
    .skills{
        flex-direction: column;
    }
    .skill-sec1, .skill-sec2{
        width: 100%;
    }
    .projects{
        flex-direction: column;
    }
    .project{
        width: 90%;
        margin: 1.2em;
    }
}